:root {
	--primary-color: #213764;
	--secondary-color: #6abf6a;
	--tertiary-color: #f8f9fa;
	--quaternary-color: #e2e5ed;
	--quinary-color: #9ea0a5;
	--senary-color: #000;
	--primary-color-dark: #1a2a3a;
	--secondary-color-dark: #509650;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #fff;
}

/* p{
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
} */
.cursor-pointer {
	cursor: pointer;
}
.bg-bizhub-primary {
	background-color: var(--primary-color);
}

.bg-bizhub-secondary {
	background-color: var(--secondary-color);
}

.bg-soft-bizhub-secondary {
	background-color: #F3FAF3;
}

.text-bizhub-primary {
	color: var(--primary-color);
}

.text-bizhub-secondary {
	color: var(--secondary-color);
}

.btn-bizhub-primary {
	background-color: var(--primary-color);
	color: #fff;
	border-color: var(--primary-color);
}

.btn-bizhub-primary:hover {
	background-color: var(--primary-color-dark);
	color: #fff;
	border-color: var(--primary-color);
}

.btn-bizhub-secondary {
	background-color: var(--secondary-color);
	color: #fff;
	border-color: var(--secondary-color);
}

.btn-bizhub-secondary:hover {
	background-color: var(--secondary-color-dark);
	color: #fff;
	border-color: var(--secondary-color);
}

.btn-bizhub-outline-primary {
	background-color: #fff;
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-bizhub-outline-primary:hover {
	background-color: var(--primary-color);
	color: #fff;
	border-color: var(--primary-color);
}

.btn-bizhub-outline-secondary {
	background-color: #fff;
	color: var(--secondary-color);
	border-color: var(--secondary-color);
}

.btn-bizhub-outline-secondary:hover {
	background-color: var(--secondary-color);
	color: #fff;
	border-color: var(--secondary-color);
}

/* active btn */
.btn-bizhub-outline-primary.active {
	background-color: var(--primary-color);
	color: #fff;
	border-color: var(--primary-color);
}

.ronded-bottom-hero-about {
	border-bottom-right-radius: 8rem !important;
	border-bottom-left-radius: 8rem !important;
}

.margin-section {
	margin-top: 160px;
	margin-bottom: 160px;
}

.logo-nav {
	max-width: 170px;
	padding-bottom: 15px;
}

.active-navbar {
	color: #213764 !important;
	font-weight: 700 !important;
}

.hover-nav:hover {
	color: #213764 !important;
	font-weight: 700 !important;
}

.btn-masuk {
	color: #213764;
	font-weight: 700;
	border-color: #213764;
}

.btn-masuk:hover {
	color: white;
	background-color: #213764;
}

.btn-daftar {
	color: white;
	background-color: #213764;
	font-weight: 700;
}

.btn-daftar:hover {
	color: #213764;
	font-weight: 700;
	border-color: #213764;
}

.image-container {
	display: block;
}


.blog-text{
	width: 55%;
}

.input-search-blog{
	top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 500px;
}

.blog-img{
	max-width:none;
}

.blog-detail-btn{
	max-width:40%;
}

@media (min-width: 1024px) {
	.image-container {
		/* Add any specific styles for laptops here if needed */
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.text-hero-home {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.1;
}

.blog-text{
	width: 75%;
}

.hero-bg-home {
	background-color: #F3FAF3;
	height: 85vh;
	/* rounded-start-5 position-relative overflow-hidden p-5 d-flex justify-content-center align-items-center */
	border-bottom-left-radius: 4rem;
	position: relative;
	overflow: hidden;
	padding: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1024px) {
	.hero-bg-home {
		height: 50vh;
	}
}
/* small laptop */
@media (max-width: 1024px) {
	.text-hero-home {
		font-size: 48px;
	}

	.input-search-blog{
		top: 60%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}
}

/* tablet */
@media (max-width: 768px) {
	.text-hero-home {
		font-size: 36px;
	}

	.input-search-blog{
		top: 60%;
    	left: 50%;
    	transform: translate(-50%, -50%);
		width: 300px;
	}

	.blog-text{
		width: 100%;
	}
}

.input-search-umkm{
	/* mb-2 w-50 d-block ms-lg-5 */
	margin-bottom: 16px;
	width: 50%;
	display: block;
	margin-left: 4rem;
}

@media (max-width: 768px) {
	.input-search-umkm {
		width: 100%;
		margin-left: 0;
	}
}

.overlay-text h1 {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 48px;
	font-weight: 700;
}

.heading-about-text {
	font-size: 40px;
	margin-bottom: 35px;
	line-height: 50px;
	font-weight: 700;
}

.sosmed-icons {
	width: 2rem;
	height: 2rem;
	font-size: 1.2rem;
	background-color: #6abf6a;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-login {
	margin: 32px 0;
}

.col-login-right {
	align-items: center;
}

.login-header h1 {
	font-size: 36px;
	color: #213764;
	margin: 0;
	margin-bottom: 24px;
}

.login-header p {
	font-size: 18px;
	color: #213764;
	margin: 0;
	margin-bottom: 24px;
}

.form-label {
	color: #9ea0a5;
	font-size: 12px;
	margin-bottom: 4px;
	padding-left: 8px;
	margin-top: 24px;
}

.form-email input,
.form-password input {
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	border: 1px solid #e2e5ed;
}

.to-forgot-password {
	display: flex;
	justify-content: end;
	font-size: 16px;
}

.to-forgot-password p {
	cursor: pointer;
	margin: 0;
	margin: 24px 0;
}

.form-button {
	display: flex;
	justify-content: center;
}

.form-button button {
	background-color: #213764;
	color: #fff;
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	font-weight: 500;
	border: 1px solid #213764;
}

.login-bottom p {
	color: #213764;
	margin: 0;
	margin-top: 24px;
}
.login-bottom span {
	cursor: pointer;
}

.login-bottom a {
	color: #6abf6a;
	text-decoration: underline;
}

.form-password {
	position: relative;
}

.input-password {
	position: relative;
}

.input-password input[type="password"] {
	margin-right: 30px;
}

.input-password i {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1;
}

@media (max-width: 768px) {
	.login-header {
		margin-top: 24px;
	}

	.login-header h1 {
		font-size: 20px;
	}

	.text {
		font-size: 14px !important;
	}

	.login-bottom {
		margin-bottom: 24px;
	}
}

.row-register {
	margin: 32px 0;
}

.col-register-right {
	align-items: center;
}

.button-change {
	display: flex;
	justify-content: center;
	padding: 24px;
}

.button-change button:hover,
.button-change button.active {
	background-color: #213764;
	color: #fff;
	width: 100%;
	border-radius: 10px;
	font-weight: 500;
	border: 1px solid #213764;
	padding: 12px;
}

.button-change button {
	width: 100%;
	border-radius: 10px;
	font-weight: 500;
	border: 1px solid #e2e5ed;
	padding: 12px;
}

.button-change button:nth-child(1) {
	margin-right: 12px;
}

.hidden {
	display: none;
}

.form-label {
	color: #9ea0a5;
	font-size: 12px;
	margin-bottom: 4px;
	padding-left: 8px;
	margin-top: 12px;
}

.form-username input,
.form-name input,
.form-no-telp input,
.form-address input,
.form-email input,
.form-password input {
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	border: 1px solid #e2e5ed;
}

.form-button {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

.form-button button {
	background-color: #213764;
	color: #fff;
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	font-weight: 500;
	border: 1px solid #213764;
}

.register-bottom p {
	color: #213764;
	margin: 24px 0;
}
.register-bottom span {
	cursor: pointer;
}

.register-bottom a {
	color: #6abf6a;
	text-decoration: underline;
}

.form-password {
	position: relative;
}

.input-password {
	position: relative;
}

.input-password input[type="password"] {
	margin-right: 30px;
}

.input-password i {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1;
}

@media (max-width: 425px) {
	.input-search-blog{
		top: 64%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}
}

.thumbnail-umkm {
	width: 100%;
	height: 300px;
	object-fit: cover;
}